.Townest{
   
  font-size: large;
  position: absolute;
  top: 8.5%;
  font-size: large;
  background-color: rgb(255, 243, 131,0.5);
  font-weight: bold;
  right: 44%;
  border-radius: 20%;
}

.Streetest{
 
  font-size: large;
  position: absolute;   
  top: 8.5%;
  font-size: large;
  background-color: rgb(255, 243, 131,0.5);;
  font-weight: bold;
  right: 23.5%;  
  border-radius: 20%;
}

.Typreest{
  font-size: large;
  position: absolute;  
  top: 8.5%;
  font-size: large;
  background-color: rgb(255, 243, 131,0.5);;
  font-weight: bold; 
  right:14.5%;
  border-radius: 20%;
}

.Blkest{

  font-size: large;
  position: absolute; 
  top: 8.5%;
  font-size: large;
  background-color: rgb(255, 243, 131,0.5);;
  font-weight: bold; 
  right: 0.5%;
  border-radius: 20%;
}