.town{
    font-size: large;
    position: absolute;
    right: 650px;
    top: 8%;
    font-size: large;
    background-color: white;
    font-weight: bold;
  }
  
  .street{
    font-size: large;
    position: absolute;
    right: 550px;
    top: 8%;
    font-size: large;
    background-color: white;
    font-weight: bold; 
  }
  
  .flat-type{
    font-size: large;
    position: absolute;
    right: 430px;
    top: 8%;
    font-size: large;
    background-color: white;
    font-weight: bold; 
  }