.flattype{
   
  font-size: large;
  position: absolute;
  top: 8.5%;
  font-size: large;
  background-color: rgb(255, 243, 131,0.5);
  font-weight: bold;
  right: 60%;
  border-radius: 20%;
}

.town1{
   
  font-size: large;
  position: absolute;
  top: 8.5%;
  font-size: large;
  background-color: rgb(255, 243, 131,0.5);
  font-weight: bold;
  right: 44%;
  border-radius: 20%;
}

.town2{
 
  font-size: large;
  position: absolute;   
  top: 8.5%;
  font-size: large;
  background-color: rgb(255, 243, 131,0.5);;
  font-weight: bold;
  right: 30%;  
  border-radius: 20%;
}

.town3{
  font-size: large;
  position: absolute;  
  top: 8.5%;
  font-size: large;
  background-color: rgb(255, 243, 131,0.5);;
  font-weight: bold; 
  right:14.5%;
  border-radius: 20%;
}