.town1{
   
    font-size: large;
    position: absolute;
    top: 8%;
    font-size: large;
    background-color: rgb(255, 243, 131,0.5);
    font-weight: bold;
    right: 48%;
    border-radius: 20%;
  }
  
  .town2{
   
    font-size: large;
    position: absolute;   
    top: 8%;
    font-size: large;
    background-color: rgb(255, 243, 131,0.5);;
    font-weight: bold;
    right: 35%;  
    border-radius: 20%;
  }
  
  .town3{
    font-size: large;
    position: absolute;  
    top: 8%;
    font-size: large;
    background-color: rgb(255, 243, 131,0.5);;
    font-weight: bold; 
    right:18%;
    border-radius: 20%;
  }

  .town4{

    font-size: large;
    position: absolute; 
    top: 8%;
    font-size: large;
    background-color: rgb(255, 243, 131,0.5);;
    font-weight: bold; 
    right: 10%;
    border-radius: 20%;
  }