.App {
  text-align: center;
  text-align: start;
}

.header {
  font-size: large;
  position: absolute;
  right: 750px;
  top: -1%;
}

.menubutton {
  /*margin-left: 5%;
  font-size: small;
  border-radius:50%;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  background-color:rgb(85, 165, 132);*/

  font-size: medium;
  text-align: center;

  position: relative;
  align-items: center;
}

.Logo {
  flex: 1;
  height: 100vh;
  width: 100%;
}

.Googlemaps {

  
  
  
}

.town{
  font-size: large;
  position: absolute;
  right: 650px;
  top: 8%;
  font-size: large;
  background-color: white;
  font-weight: bold;

}

.street{
  font-size: large;
  position: absolute;
  right: 550px;
  top: 8%;
  font-size: large;
  background-color: white;
  font-weight: bold; 
}

.flattype{
  font-size: large;
  position: absolute;
  right: 430px;
  top: 8%;
  font-size: large;
  background-color: white;
  font-weight: bold; 
  
}