.App {
  text-align: center;
  background-color:rgb(15, 94, 185);
  
  
}

.header{

  font-size: medium;

}

.menubutton{
  margin-left: 5%;
  font-size: large;
  border-radius:50%;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  background-color:rgb(208, 123, 230);
}
